<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WeightWatchers">
	<parameter name="baseUrl" value="https://www.weightwatchers.com/us/" />
	<parameter name="zipCode" value="10011" />
	<parameter name="day" value="Mon" />
	<listeners>
		<listener class-name="main.java.utilities.TestListener"/>
	</listeners>
	
	<test name="WW Test">
		<classes>
			<class name="main.java.test.WWTest"/>
		</classes>
	</test>
</suite>